<h3 class="section center-align"><i
    class="fas fa-book-reader align-baseline"
  ></i>
  My-Stories</h3>

<div class="container card-image">
  <img src="/images/login.png" />
</div>

<div class="section center-align">
  <div class="lead">
    Create your own public and private Posts
  </div>
</div>

<div class="divider"></div>

<div class="section center-align">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Login with Google</a>
</div>